.nav-button {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    cursor: pointer;
    background-color: #102245;
    border-radius: 24px;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
  }
  
  .nav-button:hover {
    background-color: #657c2c;
    transform: scale(1.05);
    color: rgb(255, 255, 255);
  }
  
  .nav-button:active {
    background-color: #40591b;
    transform: scale(0.98);
    color: rgb(255, 255, 255);
  }
  
  .nav-button:focus {
    outline: none;
    color: rgb(255, 255, 255);
  }
  
  /* Media Queries for Mobile Devices */
  @media (max-width: 768px) {
    .nav-button {
      display: block;
      width: 100%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  