.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0; /* Background color of the card */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Shadow on the card */
  margin: 20px;
  padding: 20px;
  width: 100%;
  max-width: 350px; /* Control the width of the card */
  transition: transform 0.2s ease-in-out; /* For hover effect */
}

.team-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.team-card-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.team-card-image {
  width: 100%;
  height: auto;
  border-radius: 15px; /* Rounded corners for the image */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Shadow on the image */
  object-fit: cover;
}

.team-card-content {
  text-align: center;
}

.team-card-name {
  color: #6f8830;
  margin-bottom: 10px;
}

.team-card-title {
  color: rgb(16, 34, 69);
  margin-bottom: 10px;
}

.team-card-desc {
  color: rgb(114, 114, 114);
  max-width: 275px;
  margin-bottom: 10px;
}

.team-card-email {
  color: rgb(0, 112, 148);
}

@media screen and (max-width: 650px) {
  .team-card {
    width: 100%;
    max-width: 100%;
  }
}
