.contact-us-page {
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
}


.contact-us-image-container {
  flex: 1;
  max-width: 500px;
  margin: 20px;
  position: relative;
}

.contact-us-image {
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.contact-us-text-container {
  flex: 2;
  max-width: 600px;
  margin: 20px;
  color: #102245;
  text-align: left;
}

.contact-us-text-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.contact-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 40px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 40px auto;
  max-width: 800px;
}

.contact-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
  flex: 1;
}

.contact-card h3 {
  color: #102245;
  margin-bottom: 10px;
  padding-bottom: 15px;
  font-size: 1.5em;
}

.contact-card p {
  color: #333333;
}

.contact-card b {
  color: #748b39;
}

.contact-form-section {
  padding: 40px 20px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .contact-us-header {
    flex-direction: column;
    align-items: center;
  }

  .contact-us-image-container, .contact-us-text-container {
    max-width: 100%;
    text-align: center;
  }

  .contact-us-text-container h1 {
    font-size: 2em;
  }
  
}