/* General Styles */
.team-page {
  overflow-x: hidden; /* Prevents horizontal overflow */
}

.team-page h1, h2, p, b {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.team-page-subheading h2 {
  font-size: 2.0em;
  padding-top: 25px;
}

.team-page-first-line {
  padding-top: 22px;
}

/* Section Styles */
.team-section {
  margin: 40px 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.team-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  box-sizing: border-box;
}

/* Team Cards Container */
.team-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -8px; /* Adjust spacing between columns */
}

/* Image and Text Container Styles */
.team-image-container {
  flex: 1;
  max-width: 500px;
  margin: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.team-image {
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.team-text-container {
  flex: 2;
  max-width: 600px;
  margin: 20px;
  color: #102245;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-text-container h1 {
  font-size: 2.5em;
  color: #102245;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.team-text-container p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #102245;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .team-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .team-box {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
  }

  .team-image-container,
  .team-text-container {
    max-width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .team-image-container {
    order: -1;
    width: 100%;
  }

  .team-text-container {
    order: 1;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
  }

  .team-text-container h1 {
    font-size: 2em;
  }
}
